@import url('https://fonts.googleapis.com/css?family=Bangers:100,300,400,700&display=swap');


body {
    font-family: 'Bangers', sans-serif;   
    margin: 0;
    padding: 0;
}


#beertap-pic {
 display: block;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/beer-and-hops.webp");
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  width: 100vw;
  justify-content: center;
 
}

#offer-pic {
  background-attachment: fixed;
  background-image: url("../images/hops.jpeg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
  width: auto;
  justify-content: center;
}

/* ----------------------------------------Navbar */

.nav-hop {
    height: 80px;
    background-color: #0E9594;
}

li a {
    font-size: 20px;
    text-decoration: none;
    color: #127475;
}

li a:hover {
   color: black;
}

#mapManchester {
  height: 250px;
  border: 1px solid red;
  padding: 10px;
  width: 100%;
  text-align: center;
  position: relative;
}

#mapLondon {
  height: 250px;
  border: 1px solid yellow;
  padding: 10px;
  width: 100%;
  text-align: center;
}

#mapTest {
  height: 250px;
  border: 1px solid red;
  padding: 10px;
  width: 100%;
  text-align: center;
  position: relative;
}
/* ----------------------------------------Cards */
.cities-container {
  padding-bottom: 50px;
}

.card-text {
  text-align: center;
  font-size: 24px;
  text-decoration: none;
}

.card-london {
  box-shadow: 10px 10px 20px 10px yellow;
}

.card-manchester {
  box-shadow: 10px 10px 20px 10px red;
}

.card-liverpool {
  box-shadow: 10px 10px 20px 10px blue;
}



/* ----------------------------------------Headings */

.cities-heading {
  text-align: center;
  font-size: 35px;
}

.offer-heading {
  text-align: center;
}

.about-heading {
    text-align: center;
    font-size: 35px;
}
/* ----------------------------------------waypoint */
#right-panel {
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select,
#right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}


#mapWaypoint {
  height: 250px;
  border: 1px solid red;
  padding: 10px;
  width: 70%;
  text-align: center;
  position: relative;
  float: left;
  box-shadow: 20px 20px 50px 10px pink;
}
#right-panel {
  margin: 20px;
  border-width: 2px;
  width: 20%;
  height: 400px;
  float: left;
  text-align: left;
  padding-top: 0;
}
#directions-panel {
  margin-top: 10px;
  background-color: #ffee77;
  padding: 10px;
  overflow: scroll;
  height: 174px;
}

/* ----------------------------------------Modal */


.modal-header {
    font-size: 50px;
    color: red;
}
