@import url("https://fonts.googleapis.com/css?family=Bangers:100,300,400,700&display=swap");

body {
  font-family: "Bangers", sans-serif;
  margin: 0;
  padding: 0;
}

#beertap-pic {
  background-attachment: fixed;
  background-image: url("../images/people-drinking.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  width: auto;
  justify-content: center;
}

#beer-bottles {
  background-attachment: fixed;
  background-image: url("../images/beer-bottles.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
  width: auto;
  justify-content: center;
}

/* ----------------------------------------Navbar */

.nav-hop {
  height: 80px;
  background-color: #0e9594;
  border: 2px black solid;
}

li a {
  font-size: 20px;
  text-decoration: none;
  color: #127475;
}

li a:hover {
  color: black;
}

/* ----------------------------------------About */

.about-container {
  padding: 5px;
}

/* ----------------------------------------Maps */

#breweries-map {
  height: 300px;
  border: 1px solid violet;
  width: 80%;
}

#mapManchester {
  height: 250px;
  border: 1px solid red;
  padding: 10px;
  width: 100%;
  text-align: center;
  position: relative;
}

#mapLondon {
  height: 250px;
  border: 1px solid yellow;
  padding: 10px;
  width: 100%;
  text-align: center;
}

#mapTest {
  height: 250px;
  border: 1px solid red;
  padding: 10px;
  width: 100%;
  text-align: center;
  position: relative;
}
/* ----------------------------------------Cards */
.cities-container {
  padding-bottom: 50px;
}

.breweries-near-container {
  padding-bottom: 50px;
}

.card-text {
  text-align: center;
  font-size: 24px;
  text-decoration: none;
}

.card-breweries-near {
  box-shadow: 10px 10px 20px 10px black;
}

.card-london {
  box-shadow: 10px 10px 20px 10px yellow;
}

.card-manchester {
  box-shadow: 10px 10px 20px 10px red;
}

.card-liverpool {
  box-shadow: 10px 10px 20px 10px blue;
}

/* ----------------------------------------Headings */

.cities-heading {
  text-align: center;
  font-size: 35px;
}

.breweries-near-heading {
  text-align: center;
}

.about-heading {
  text-align: center;
  font-size: 35px;
  padding: 10px;
}

.breweries-near-container {
  margin-bottom: 15px;
}
/* ----------------------------------------waypoint */
#right-panel {
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select,
#right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

#mapWaypoint {
  height: 250px;
  border: 1px solid red;
  padding: 10px;
  width: 70%;
  text-align: center;
  position: relative;
  float: left;
  box-shadow: 20px 20px 50px 10px pink;
}
#right-panel {
  margin: 20px;
  border-width: 2px;
  width: 20%;
  height: 400px;
  float: left;
  text-align: left;
  padding-top: 0;
}
#directions-panel {
  margin-top: 10px;
  background-color: #ffee77;
  padding: 10px;
  overflow: scroll;
  height: 174px;
}

/* ----------------------------------------Modal */

.modal-header {
  font-size: 50px;
  color: red;
}

/* ----------------------------------------Breweries near you  */

#panel {
  height: 100%;
  width: null;
  background-color: white;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  transition: all 0.2s ease-out;
}

.open {
  width: 250px;
}

/* Styling for place details */
.hero {
  width: 100%;
  height: auto;
  max-height: 166px;
  display: block;
}

.place,
p {
  font-family: "open sans", arial, sans-serif;
  padding-left: 18px;
  padding-right: 18px;
}

.details {
  color: darkslategrey;
}

a {
  text-decoration: none;
  color: cadetblue;
}

@media only screen and (max-width: 600px) {
  .card-london {
    box-shadow: transparent;
  }

  .card-manchester {
    box-shadow: 0;
  }

  .card-liverpool {
    box-shadow: 0;
  }
}

/* ----------------------------------------Newsletter */

a .newsletter {
  font-size: 50px;
  color: red;
}

.newsletter-container {
  text-align: center;
}

.fa-newspaper {
  color: black;
  padding-left: 15px;
  padding-right: 10px;
}

.newsletter {
    transition: transform 100ms ease-in-out;
    transform: scale(.9);
}

.newsletter:hover  {
    transform: scale(2);
}

.about-container {
    border: 1px solid black;
    background-color: red;
}

/* ----------------------------------------Footer */

.footer {
  width: 100%;
  bottom: 0px;
  height: 70px;
  background-color: #0e9594;
  border: 2px black solid;
  z-index: 3;
  padding-left: -15px;
}

.newsletter-container {
    padding-top: 50px;
    padding-bottom: 25px;
}